@using BG.ContratacionWeb.Pyme.Helpers
@model BG.ContratacionWeb.Pyme.Models.DatosClientePy

@{
    ViewBag.Title = "Registrar Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Hidden("UrlPostEmail", Url.Action("SaveEmail", "CreditoPyme"))
@Html.Hidden("UrlToRedirectNew", Url.Action("EstadoCivil", "CreditoPyme"))

<script src="~/Content/js/jquery.min.js"></script>
<script src="~/Content/js/main.js"></script>

@Html.AntiForgeryToken()

<section class="bg-form-layout">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-12">
                <ul class="bg-steps-vertical" data-current="1" data-percentage="50">
                    <li>
                        <h4>Información personal</h4>
                        <p>Por favor completa tus datos</p>
                    </li>
                    <li>
                        <h4>Información de tu negocio</h4>
                        <p>Cuéntanos más de tu negocio</p>
                    </li>
                    <li>
                        <h4>Referencias financieras</h4>
                        <p>Ingresa los datos de tus cuentas</p>
                    </li>
                </ul>

            </div>
            <div class="col-lg-8 col-12">
                <div class="wrapper wrp2">
                    <div class="bg-card bg-form-layout-inner">
                        <div class="bg-margin-top-medium">
                            <div class="bg-infoForm">
                                <label>
                                    Nombre
                                </label>
                                <p>
                                    @Model.Nombres.ToUpperFirstLetter()
                                </p>
                            </div>
                            <div class="bg-infoForm">
                                <label>
                                    Cédula
                                </label>
                                <p>
                                    @Model.Cedula
                                </p>
                            </div>
                            <div class="bg-infoForm">
                                <label>
                                    Fecha de nacimiento
                                </label>
                                <p>
                                    @Model.FechaNacimiento
                                </p>
                            </div>
                            <div class="bg-infoForm">
                                <label>
                                    Celular
                                </label>
                                <p>
                                    @Model.Celular
                                </p>
                            </div>
                            <div class="bg-infoForm">
                                <label>
                                    Nacionalidad
                                </label>
                                <p>
                                    @Model.Nacionalidad.ToUpperFirstLetter()
                                </p>
                            </div>
                            <div class="bg-textfield">
                                <label>¿Cuál es su correo electrónico?</label>
                                <input class="bg-textbox" pattern="" id="idSendEmail" type="email" maxlength="50">
                            </div>
                            <div class="icon-item">
                                <i class="bg-icon bg-icon-warning" style="color: #e91771"></i> <span style="font-size: 12px; color: #999;">Si tu correo electrónico es incorrecto, actualízalo llamando al 3730100 opción 9</span>
                            </div>
                            <div class="bg-margin-top-medium" style="text-align: center;">
                                <a href="#" id="idContinuarToEstCivil" class="bg-button bg-primary">
                                    <span>Continuar</span>
                                </a>
                            </div>
                            <div class="bg-margin-top-medium bg-margin-bottom-medium" style="text-align: center;">
                                <a href="@Url.Action("Simulador", "CreditoPyme")" class=" linkBG02">Volver</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/Scripts/romads.min.js"></script>

                            